button {
  position: relative;
  bottom: 1px;
  margin: 5px;
}
.Dictionary section {
  background-color: #f7f7f7;
  padding: 18px;
  border-radius: 16px;
  box-shadow: 2px 2px 13px grey;
  margin-top: 22px;
  margin-bottom: 22px;
  max-width: 800px;
}

.Dictionary input {
  width: 80%;

  padding: 6px 4px;
}
