.Dictionary {
  max-width: 960px;
  margin: 0 auto;
}

button {
  position: relative;
  bottom: 1px;
  margin: 5px;
}
.Dictionary section {
  background-color: #f7f7f7;
  padding: 18px;
  border-radius: 16px;
  box-shadow: 1px 1px 10px rgb(185, 182, 182);

  max-width: 800px;
  display: block;
  margin: 0 auto;
  
}

.Dictionary input {
  width: 80%;

  padding: 6px 4px;
}
