h4 {
  font-family: "Spectral", serif;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  opacity: 0.9;
}

.Meaning p {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
}
.Meaning .example {
  font-family: "Joan", serif;
  font-style: italic;
  font-weight: 500;
  padding-top: 20px;
}
