h4 {
  font-family: "Spectral", serif;
  font-size: 30px;
  padding: 10px 16px 10px;
  text-align: left;
  opacity: 0.9;
}

.Meaning p {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding-left: 16px;
}
.Meaning .example {
  font-family: "Joan", serif;
  font-style: italic;
  font-weight: 500;
  padding-top: 20px;
}
