.Results h1 {
  margin: 20px 14px 20px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-left: 10px;
}
.Results section {
  background-color: #f7f7f7;
  padding: 18px;
  border-radius: 16px;
  box-shadow: 1px 1px 10px rgb(185, 182, 182);

  max-width: 800px;
  margin-top: 20px;
  margin-bottom: 20px;
}
